<!-- Text File
# AUTHOR:   manawasp
# MAIL:     clovis.kyndt@gmail.com
# FILE:     home/index.html.erb
# ROLE:     TODO (some explanation)
# CREATED:  2014-03-29 20:01:58
# MODIFIED: 2014-03-30 11:25:46
-->

<%= render 'layouts/left_menu' %>
<%= render 'layouts/top_menu' %>
<%= render 'layouts/information_menu' %>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
