// Text File
// AUTHOR:   manawasp
// MAIL:     clovis.kyndt@gmail.com
// FILE:     /home/manawasp/Rails/HexatylaEditor/app/assets/stylesheets/_base.css.scss
// ROLE:     TODO (some explanation)
// CREATED:  2014-03-29 17:12:18
// MODIFIED: 2014-03-29 17:12:24

$blueprint-grid-columns : 24;
$blueprint-grid-width   : 30px;
$blueprint-grid-margin  : 10px;
$font-color             : #333;

@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/transition";
@import "blueprint";

$white: #fff;
$black: #000;
$grey1: #111;
$grey2: #222;
$grey3: #333;
$grey4: #444;
$grey5: #555;
$grey6: #666;
$grey7: #777;
$grey8: #888;
$grey9: #999;
$grey10: #aaa;
$grey11: #bbb;
$grey12: #ccc;
$grey13: #ddd;
$grey14: #eee;

$blue10:  #262d40;
$blue8:   #3473a9;
$blue6:   #488ed3;
$blue4:   #62adee;
$blue2:   #4fc0e8;

$dark_grey_blue:  #6c85a3;
$light_grey_blue: #99aec8;

$link_dark_grey:  #c7d2e0;
$link_light_grey: #edf2f8;

$dark_blue_font: #7e8490;
$light_blue_font: #aab2bd;

a, ul, li { text-decoration:none; }

.pointer { cursor: pointer; }

.hidden       { display: none }
.visible      { display: block }
.inline-block { display: inline-block; }

.full-width   { width: 100%; }
.full-height  { height: 100%; }

.left     { left: 0; }
.right    { right: 0; }
.top      { top: 0; }
.bottom   { bottom: 0; }

.fleft  { float: left; }
.fright { float: right; }

.absolute { position: absolute; }
.relative { position: relative; }
.fixe     { position: fixed; }

.font-10 { font-size: 10px; }
.font-11 { font-size: 11px; }
.font-12 { font-size: 12px; }
.font-14 { font-size: 14px; }
.font-16 { font-size: 16px; }
.font-18 { font-size: 18px; }
.font-24 { font-size: 24px; }
.font-32 { font-size: 32px; }
.font-36 { font-size: 36px; }

.cube-48 { width: 48px; height: 48px }
.cube-24 { width: 24px; height: 24px }

.no-padding { padding: 0; }
.no-margin  { margin: 0; }

.margin-5   { margin: 5px; }
.margin-10  { margin: 10px; }
.margin-15  { margin: 15px; }
.margin-20  { margin: 20px; }

.padding-5  { padding: 5px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }

.padding-left-5     { padding-left: 5px; }
.padding-left-10    { padding-left: 10px; }
.padding-left-15    { padding-left: 15px; }
.padding-left-20    { padding-left: 20px; }
.padding-right-5    { padding-right: 5px; }
.padding-right-10   { padding-right: 10px; }
.padding-right-15   { padding-right: 15px; }
.padding-right-20   { padding-right: 20px; }
.padding-top-5      { padding-top: 5px; }
.padding-top-10     { padding-top: 10px; }
.padding-top-15     { padding-top: 15px; }
.padding-top-20     { padding-top: 20px; }
.padding-bottom-5   { padding-bottom: 5px; }
.padding-bottom-10  { padding-bottom: 10px; }
.padding-bottom-15  { padding-bottom: 15px; }
.padding-bottom-20  { padding-bottom: 20px; }

.margin-left-5    { margin-left: 5px; }
.margin-left-10   { margin-left: 10px; }
.margin-left-15   { margin-left: 15px; }
.margin-left-20   { margin-left: 20px; }
.margin-right-5   { margin-right: 5px; }
.margin-right-10  { margin-right: 10px; }
.margin-right-15  { margin-right: 15px; }
.margin-right-20  { margin-right: 20px; }
.margin-top-5     { margin-top: 5px; }
.margin-top-10    { margin-top: 10px; }
.margin-top-20    { margin-top: 20px; }
.margin-bottom-5  { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-20 { margin-bottom: 20px; }

.background-white { background-color: $white; }
.background-mate  { background-color: #eaedf2; }
.background-black { background-color: $white; }
.background-dark-silver { background-color: $grey4; }
.background-light-silver { background-color: $grey10; }

.white { color: $white }
.black { color: $black }

.bold { font-weight: 700; }
.italic { font-style:italic; }
.bold-normal { font-weigth: normal; }

.t-center { text-align: center; }
.t-left   { text-align: left; }
.t-right  { text-align: right; }

.v-middle { vertical-align: middle; }
.v-top    { vertical-align: top; }
.v-bottom { vertical-align: bottom; }

.w-18     { width: 18px; }
.w-24     { width: 24px; }
.w-32     { width: 32px; }
.w-36     { width: 36px; }
.w-48     { width: 48px; }
.w-75     { width: 75px; }
.w-100    { width: 100px; }
.w-125    { width: 125px; }
.w-150    { width: 150px; }
.w-175    { width: 175px; }
.w-200    { width: 200px; }
.w-225    { width: 225px; }
.w-250    { width: 250px; }
.w-275    { width: 275px; }
.w-300    { width: 300px; }
.w-325    { width: 325px; }
.w-350    { width: 350px; }

.clean-border { border: 0; }
.no-decoration { text-decoration: none; }
