/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "base";

body {
  @extend .background-mate, .font-12;
}

a {
  @extend .white;
}

/* Begin : Left Menu */
#right-menu {

  @extend .fixe, .fleft, .full-height;
  width: 180px;
  z-index: 50;
  background-color: $blue10;

  #title {
    @extend .bold, .font-18, .padding-15;
    color: #96bee2;
    background-color: $blue8;
    height: 20px;
  }

  .choice-categorie {
    @extend .font-14;
    padding: 15px 2px 15px 10px;
    color: $light_blue_font;

    &:hover {
      @extend .silver-14;
      background-color: #323a4f;
    }

    img {
      @extend .v-middle, .padding-right-5;
    }

    .information-choice-categorie {
      @extend .fright, .margin-right-10, .font-11, .margin-top-5, .white, .padding-5;
      @include border-radius(3px);
      background-color: #3473a9;
    }
  }
}
/* End : Left Menu */

/* Begin : Top Menu */
#top-menu {
  @extend .full-width, .fixe;
  height: 50px;
  z-index: 49;
  background-color: $blue6;

  div {
    @extend .padding-left-10, .padding-right-10, .inline-block, .white, .font-14, .padding-top-20;
    height: 30px;

    &.right {
      @extend .fright;
      border-left: 1px solid #559fe0;
    }

    &.left {
      @extend .fleft;
      border-right: 1px solid #559fe0;
    }

    &.first {
      margin-left:180px;
    }

    &.input {
      @extend .no-padding, .padding-top-5, .padding-left-10, .padding-right-10;
      height: 45px;
    }
  }

  a {
    @extend .padding-left-10, .padding-right-10, .pointer;
    height: 50px;

    &:hover {
      background-color: $blue4;
    }

    &.right {
      @extend .fright;
      border-left: 1px solid #559fe0;
    }

    &.left {
      @extend .fleft;
      border-right: 1px solid #559fe0;
    }

    &.first {
      margin-left:180px;
    }

    img {
      @extend .margin-top-10;
      margin-left: 2px;
    }
  }
}
/* End : Top Menu */

/* Begin : Information menu */
#information-menu {
  @extend .fixe, .full-height;

  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;

  width: 270px;
  margin-left: 180px;
  background-color: $light_grey_blue;

  div.title {
    @extend .white, .padding-left-20, .padding-right-20, .padding-top-10, .padding-bottom-10, .bold;
    margin-top: 50px;
    background-color:$dark_grey_blue;

    img {
      @extend .margin-right-5, .cube-24;
      vertical-align: middle;
    }
  }

  a.elements {

  }
}
/* End : Information menu */

/* Begin : Flat Gui*/
input.gui-flat
{
  @extend .padding-10, .bold, .font-12, .white, .top, .no-margin;
  background: transparent;
  border: 1px solid #559fe0;
  @include border-radius(3px);

  &.little {
    padding: 7px 17px;
    width: 30px;
    margin: 0px 7px 0px 7px;
  }

  &.minus {
    @extend .full-width, .bold-normal, .font-14;
    padding: 3px 5px;
  }

  &.silver {
    @extend .white;
    border-color: #99aec8;
    background-color: #99aec8;
  }

  &.light-silver {
    @extend .white, .bold-normal, .grey8;
    border-color: #99aec8;
  }

  &.resize {
    padding: 7px 17px;
  }

  &:-moz-placeholder {
    font-weight: 500; // extend don't run :(...
    font-style: italic; // extend don't run :(...
    color: #f2f2f2;
  }
  &:-ms-input-placeholder  {
    font-weight: 500; // extend don't run :(...
    font-style: italic; // extend don't run :(...
    color: #f2f2f2;
  }
  &::-webkit-input-placeholder {
    font-weight: 500; // extend don't run :(...
    font-style: italic; // extend don't run :(...
    color: #f2f2f2;
  }
}

/* Button */

.button {
  @extend .pointer, .clean-border, .t-center, .font-16, .white, .no-decoration, .inline-block;
  -webkit-font-smoothing: antialiased;
  background-color: #62adee;
  padding: 9px 20px;
  white-space: nowrap;
  @include border-radius(5px);
  @include single-transition(all, 0.2s, ease-in-out);

  &:hover {
    background-color: #3473a9;
  }

  &.little {
    margin: 0 4px;
    padding: 7px 17px;
  }

  &.green {
    background-color: #a0d468;

    &:hover {background-color: #8cc051}
  }

  &.yellow {
    background-color: #ffcd5a;

    &:hover {background-color: #f6bb43}
  }

  &.red {
    background-color: #ec5564;

    &:hover {background-color: #db4453}
  }
}

/* end button */
/* Button applicaiton color class */
$buildings      : #fb6e52;
$heros          : #ffce55;
$objects        : #a0d468;
$projectiles    : #48cfae;
$capacities     : #4fc0e8;
$spells         : #5d9cec;
$ameliorations  : #ac92ed;
$effects        : #e78abf;

.button {
  &.buildings-bg {
    background-color: $buildings;

    &:hover {background-color: darken($buildings, 20%)}
  }

  &.heros-bg {
    background-color: $heros;

    &:hover {background-color: darken($buildings, 20%)}
  }

  &.objects-bg {
    background-color: $objects;

    &:hover {background-color: darken($objects, 20%)}
  }

  &.projectiles-bg {
    background-color: $projectiles;

    &:hover {background-color: darken($projectiles, 20%)}
  }

  &.capacities-bg {
    background-color: $capacities;

    &:hover {background-color: darken($capacities, 20%)}
  }

  &.spells-bg {
    background-color: $spells;

    &:hover {background-color: darken($spells, 20%)}
  }

  &.ameliorations-bg {
    background-color: $ameliorations;

    &:hover {background-color: darken($ameliorations, 20%)}
  }

  &.effects-bg {
    background-color: $effects;

    &:hover {background-color: darken($effects, 20%)}
  }
}

/* End : Flat Gui */
